<%- include('partials/header.ejs'); %>
<div class=" container" style="display: flex; justify-content: space-between; margin-top:5px;" >
  <a href="/log-out" class="btn btn-primary" style="height: fit-content;">log out</a>
    <h1>All Posts</h1>
<a href="/blogs" class="btn btn-primary" style="height: fit-content;">Create a post</a>

</div>

<div class="input-group" style="margin-left: 10px; margin-bottom: 10px;">
   <form action="/post/search" method="GET" style="display: flex; width: auto;">
    <div class="form-outline" data-mdb-input-init>
        <input type="search" id="form1" class="form-control" name="title" placeholder="Search for a post"/>
      </div>
      <button type="submit" class="btn btn-primary" style="height: fit-content;" data-mdb-ripple-init>
        search
      </button>
   </form>
  </div>
    
    <!-- Iterate over the fetched posts and display them -->
<div class="row">
<% for(let i = 0; i < post.length; i++) {%>
  <div class="col-md-3">
    <div class="card " style="width: 18rem;">
        <div class="card-body">
            <h2 class="card-title"><%= post[i].title %></h2>
            <p class="card-text"><%= post[i].body %></p>
            <p class="card-text"><%= post[i].createdAt %></p>
            <p class="card-text"><%= post[i].updatedAt %></p>
            <a href="/blogs/edit/<%=post[i].id%>" class="btn btn-secondary">Edit</a>
            <a href="/blogs/delete/<%=post[i].id%>" class="btn btn-danger">Delete</a>
        </div>
      </div>
  </div>

<% } %>
</div>

   <!-- <div class="row ">
    <post.forEach(post => { %>    
  <div class="col-md-3">
    <div class="card " style="width: 18rem;">
        <img src="../pexels-andrea-piacquadio-3853300.jpg" class="card-img-top" alt="..." style="height: 180px;">
        <div class="card-body">
            <h2 class="card-title"> post.title %></h2>
            <p class="card-text">< post.subtitle %></p>
            <a href="#" class="btn btn-primary">Read full story</a>
            <a href="/blogs/edit/id" class="btn btn-secondary">edit</a>
        </div>
      </div>
  </div> -->
    <!-- <}) %>
   </div> -->

    <%- include('partials/footer.ejs'); %>